<thead>
<tr>
    <th><f:translate key="tx_trainingcaces.cat" /></th>
    <th><f:translate key="tx_trainingcaces.type" /></th>
    <th><f:translate key="tx_trainingcaces.caces_number" /> <span><f:translate key="tx_trainingcaces.option" /></span></th>

    <f:comment>
        <th><f:translate key="tx_trainingcaces.last_name_first_name" /> <span><f:translate key="tx_trainingcaces.practical_tester" /></span></th>
    </f:comment>

    <th><f:translate key="tx_trainingcaces.last_name_first_name" /> <span><f:translate key="tx_trainingcaces.practical_tester" /></span></th>
    <th><f:translate key="tx_trainingcaces.obtain" /> <span><f:translate key="tx_trainingcaces.date_of_passage" /></span></th>
    <th><f:translate key="tx_trainingcaces.valid_date" /></th>
</tr>
</thead>