<pdf:multiColumn>
    <pdf:column width="60%">
        <pdf:html>
            <div style=" color: #707070; font-size: 12pt;">Délivré par:
                <span style="color: #0e9dd2;">ASFOR CCI <br />
                        206 rue du Rousine - ZA la Gandière<br />
                        05110 LA SAULCE<br />
                        </span>
            </div>
        </pdf:html>
        <pdf:html>
            <span style=" color: #707070; font-size: 12pt;">Inscrit dans la base INRS sous le n</span><br />
            <span style=" color: #707070; font-size: 12pt; font-weight: bold;">D-582-07</span>
        </pdf:html>
    </pdf:column>
    <pdf:column width="20%">
        <pdf:html>
            <br /><br /><br />
            <div style="color: #707070; font-size: 9pt;">La marque CACES <sup>&reg;</sup><br />
                est protégée par un<br />
                Dépot à l'INPI sous le<br />
                n° 03.32337295
            </div>
        </pdf:html>
    </pdf:column>
    <pdf:column width="20%">
        <pdf:html><br /></pdf:html>
        <pdf:image src="EXT:trainingcaces/Resources/Public/Svg/logo-assurance-maladie.png" width="300" />

    </pdf:column>
</pdf:multiColumn>