<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
		<tr>
			<td>{exam.candidate.company}</td>
			<td>{exam.place.name}</td>
			<td>
				<f:security.ifHasRole role="{settings.groups.feEditor}">
					<f:then>
						<f:link.action action="edit" controller="FrontendUser" class="text-decoration" arguments="{user: exam.candidate.uid}"
									   title="{f:translate(key:'tx_trainingcaces.edit_user')} {exam.candidate.firstName} {exam.candidate.lastName}">
							{exam.candidate.name}
						</f:link.action>
					</f:then>
					<f:else>
						{exam.candidate.name}
					</f:else>
				</f:security.ifHasRole>
			</td>
			<td><f:format.date format="{f:translate(key:'tx_trainingcaces.format_date')}">{exam.candidate.dateOfBirth}</f:format.date></td>
			<td>{exam.theoryTrainer.firstName} {exam.theoryTrainer.lastName}</td>
			<td><f:format.date format="{f:translate(key:'tx_trainingcaces.format_date')}">{exam.theoryTestDate}</f:format.date></td>
			<td>
				<!-- Theory result -->
				<f:comment>
					For theory exam if checked property "isOption" and type R482, R486, R490
				</f:comment>

				<span class="{f:if(condition: '{exam.theoryResult} >= {settings.exam.theoryResultMin}', then: 'txt-green', else: 'txt-red')}">
					{exam.theoryResult} / {settings.exam.theoryResultMax}
				</span>

				<f:if condition="{exam.theoryResultFile}">
					<a href="{exam.theoryResultFile.originalResource.publicUrl}" class="bt-pdf" download="">
						<f:translate key="tx_trainingcaces.export_pdf" />
					</a>
				</f:if>
			</td>
			<td>{exam.practiceTrainer.firstName} {exam.practiceTrainer.lastName}</td>
			<td><f:format.date format="{f:translate(key:'tx_trainingcaces.format_date')}">{exam.practiceTestDate}</f:format.date></td>

			<td>
				<!-- Practice result -->
				<f:comment>
					{exam.type.uid} == 1 && {exam.isOption} ||
					<f:if condition="{exam.isOption} && {exam.type.uid} == 1 ||
						{exam.isOption} && {exam.type.uid} == 2 ||
						{exam.isOption} && {exam.type.uid} == 4 ">
					</f:if>
				</f:comment>

				<f:if condition="
					{exam.type.uid} == 1 && {exam.category.uid} == {settings.category.R482.Option} ||
    				{exam.type.uid} == 2 && {exam.category.uid} == {settings.category.R486.Option} ||
    				{exam.type.uid} == 4 && {exam.category.uid} == {settings.category.R490.Option}">
					<f:then>
						<span class="{f:if(condition: '{exam.practiceResult} >= {settings.exam.practiceResultMin50}', then: 'txt-green', else: 'txt-red')}">
							{exam.practiceResult} / {settings.exam.practiceResultMax50}
						</span>
					</f:then>
					<f:else>
						<span class="{f:if(condition: '{exam.practiceResult} >= {settings.exam.practiceResultMin}', then: 'txt-green', else: 'txt-red')}">
							{exam.practiceResult} / {settings.exam.practiceResultMax}
						</span>
					</f:else>
				</f:if>

				<f:if condition="{exam.practiceResultFile}">
					<a href="{exam.practiceResultFile.originalResource.publicUrl}" class="bt-pdf" download="">
						<f:translate key="tx_trainingcaces.export_pdf" />
					</a>
				</f:if>
			</td>

			<td>{exam.type.name}</td>
			<td>{exam.category.name}
				<f:if condition="{exam.subCat}">- {exam.subCat.name}</f:if>
				<f:if condition="{exam.isOption}">- <f:translate key="tx_trainingcaces.option" /></f:if>
			</td>
			<td>
				<input type="radio" name="radiogroup" class="radiogroup"
					   data-url-show="{f:uri.action(action: 'show', controller: 'FrontendUser', arguments: '{user: exam.candidate}')}"
					   data-url-edit="{f:uri.action(action: 'editAjax', controller: 'Exam', arguments: '{exam: exam}', pageType: '133798')}"
					   data-url-delete="{f:uri.action(action: 'delete', controller: 'Exam', arguments: '{exam: exam}')}" />
			</td>
		</tr>
</html>
