<thead>
<tr>
    <th><f:translate key="tx_trainingcaces.client_company" /></th>
    <th><f:translate key="tx_trainingcaces.test_location" /></th>
    <th><f:translate key="tx_trainingcaces.candidate" /></th>
    <th><f:translate key="tx_trainingcaces.date_of_birth" /></th>
    <th><f:translate key="tx_trainingcaces.theory_trainer" /></th>
    <th><f:translate key="tx_trainingcaces.theory_test_date" /></th>
    <th><f:translate key="tx_trainingcaces.theory_test_result" /></th>
    <th><f:translate key="tx_trainingcaces.practice_trainer" /></th>
    <th><f:translate key="tx_trainingcaces.practice_test_date" /></th>
    <th><f:translate key="tx_trainingcaces.practice_test_result" /></th>
    <th><f:translate key="tx_trainingcaces.type_of_caces" /></th>
    <th><f:translate key="tx_trainingcaces.category_of_caces" /></th>
    <th><f:translate key="tx_trainingcaces.selection" /></th>
</tr>
</thead>